@import './variables.css';

.chat-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    max-width: 2000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.chat-content {
    flex: 1;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: var(--content-padding);
    width: 100%;
    box-sizing: border-box;
}

.chat-window {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    max-width: 100%;  /* Ensure it stays within parent */
}

.chat-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-header h2 {
    margin: 0;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px 0;
    padding: 15px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    margin-bottom: 10px;
}

.message.sent {
    background-color: #005503;
    color: white;
    margin-left: auto;
    align-self: flex-end;
}

.message.received {
    background-color: #e9ecef;
    color: #333;
    margin-right: auto;
}

.message-sender {
    font-size: 0.8em;
    margin-bottom: 4px;
    display: block;
    font-weight: bold;
}

.message-time {
    font-size: 0.7em;
    opacity: 0.7;
    display: block;
    margin-top: 4px;
}

.chat-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.chat-input input,
.chat-input textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.chat-input input {
    width: 100px;
}

.chat-input textarea {
    resize: vertical;
    min-height: 60px;
    flex-grow: 1;
    height: 50px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #005503;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #044f09;
}